<a href="https://colab.research.google.com/github/rmaroos/pandas-step-by-step-practice/blob/main/Pandas_Practical%2C_Visual%2C_Step_by_Step_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêº Pandas Practical

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("employee_data.csv")

# Understanding the Dataset

**Viewing the Dataset**

In [ ]:
df

,Employee_ID,Name,Department,Age,Salary,Joining_Date,Performance_Rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,45000.0,2020-05-20,3.0
2,103,Kamal,IT,NaN,48000.0,2022-07-15,4.0
3,104,NaN,Finance,28.0,NaN,2021-03-12,2.0
4,105,Suresh,NaN,35.0,60000.0,NaN,5.0
5,105,Suresh,NaN,35.0,60000.0,NaN,5.0
6,106,Ravi,HR,29.0,47000.0,2023-02-01,NaN
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

**Shape of the Dataset** <br>
To know how many rows and columns the dataset contains

In [ ]:
df.shape

(8, 7)

**Column Names**<br>
Understand what features are available

In [ ]:
df.columns

Index(['Employee_ID', 'Name', 'Department', 'Age', 'Salary', 'Joining_Date',
       'Performance_Rating'],
      dtype='object')

**Basic Information** <br>

( data types non-null counts memory usage
)

In [ ]:
df.info

<bound method DataFrame.info of    Employee_ID    Name Department   Age   Salary Joining_Date  \
0          101   Aroos         IT  25.0  50000.0   2021-01-10
1          102   Nimal         HR  30.0  45000.0   2020-05-20
2          103   Kamal         IT   NaN  48000.0   2022-07-15
3          104     NaN    Finance  28.0      NaN   2021-03-12
4          105  Suresh        NaN  35.0  60000.0          NaN
5          105  Suresh        NaN  35.0  60000.0          NaN
6          106    Ravi         HR  29.0  47000.0   2023-02-01
7          107     Anu         IT   NaN  52000.0   2022-11-25

   Performance_Rating
0                 4.0
1                 3.0
2                 4.0
3                 2.0
4                 5.0
5                 5.0
6                 NaN
7                 3.0  >

**Statistical Summary**

In [ ]:
df.describe()

       Employee_ID        Age        Salary  Performance_Rating
count      8.00000   6.000000      7.000000            7.000000
mean     104.12500  30.333333  51714.285714            3.714286
std        2.03101   3.983298   6074.928963            1.112697
min      101.00000  25.000000  45000.000000            2.000000
25%      102.75000  28.250000  47500.000000            3.000000
50%      104.50000  29.500000  50000.000000            4.000000
75%      105.25000  33.750000  56000.000000            4.500000
max      107.00000  35.000000  60000.000000            5.000000

**Data Types**

In [ ]:
df.dtypes

Employee_ID             int64
Name                   object
Department             object
Age                   float64
Salary                float64
Joining_Date           object
Performance_Rating    float64
dtype: object

**Checking Missing Values**

In [ ]:
df.isna().sum()

Employee_ID           0
Name                  1
Department            2
Age                   2
Salary                1
Joining_Date          2
Performance_Rating    1
dtype: int64

# Handling Missing Values

In [ ]:
df.isna()

,Employee_ID,Name,Department,Age,Salary,Joining_Date,Performance_Rating
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False
3,False,True,False,False,True,False,False
4,False,False,True,False,False,True,False
5,False,False,True,False,False,True,False
6,False,False,False,False,False,False,True
7,False,False,False,True,False,False,False

**Count missing values per column**

In [ ]:
df.isna().sum()

Employee_ID           0
Name                  1
Department            2
Age                   2
Salary                1
Joining_Date          2
Performance_Rating    1
dtype: int64

**Understanding dropna** <br>
It can remove rows or columns based on different conditions

In [ ]:
df.dropna()

,Employee_ID,Name,Department,Age,Salary,Joining_Date,Performance_Rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,45000.0,2020-05-20,3.0

**Drop rows only if ALL values are missing**

In [ ]:
df.dropna(how='all')

,Employee_ID,Name,Department,Age,Salary,Joining_Date,Performance_Rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,45000.0,2020-05-20,3.0
2,103,Kamal,IT,NaN,48000.0,2022-07-15,4.0
3,104,NaN,Finance,28.0,NaN,2021-03-12,2.0
4,105,Suresh,NaN,35.0,60000.0,NaN,5.0
5,105,Suresh,NaN,35.0,60000.0,NaN,5.0
6,106,Ravi,HR,29.0,47000.0,2023-02-01,NaN
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

**Drop columns containing missing values**

In [ ]:
df.dropna(axis=1)

   Employee_ID
0          101
1          102
2          103
3          104
4          105
5          105
6          106
7          107

**Permanent Change** <br>
df.dropna(inplace=True)

**Understanding fillna()** <br> This helps retain important records instead of removing them.

**Fill with a constant value**

In [ ]:
df['Department'].fillna('Unknown')

0         IT
1         HR
2         IT
3    Finance
4    Unknown
5    Unknown
6         HR
7         IT
Name: Department, dtype: object

In [ ]:
df['Age'].fillna(0)

0    25.0
1    30.0
2     0.0
3    28.0
4    35.0
5    35.0
6    29.0
7     0.0
Name: Age, dtype: float64

**Fill using statistical values**

In [ ]:
df['Age'].fillna(df['Age'].mean())

0    25.000000
1    30.000000
2    30.333333
3    28.000000
4    35.000000
5    35.000000
6    29.000000
7    30.333333
Name: Age, dtype: float64

In [ ]:
df['Salary'].fillna(df['Salary'].median())

0    50000.0
1    45000.0
2    48000.0
3    50000.0
4    60000.0
5    60000.0
6    47000.0
7    52000.0
Name: Salary, dtype: float64

In [ ]:
df['Salary'].fillna(df['Salary'].median())

0    50000.0
1    45000.0
2    48000.0
3    50000.0
4    60000.0
5    60000.0
6    47000.0
7    52000.0
Name: Salary, dtype: float64

In [ ]:
df['Department'].fillna(df['Department'].mode()[0])

0         IT
1         HR
2         IT
3    Finance
4         IT
5         IT
6         HR
7         IT
Name: Department, dtype: object

**Forward Fill & Backward Fill**

In [ ]:
df.fillna(method='ffill')

/tmp/ipython-input-253117906.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

,Employee_ID,Name,Department,Age,Salary,Joining_Date,Performance_Rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,45000.0,2020-05-20,3.0
2,103,Kamal,IT,30.0,48000.0,2022-07-15,4.0
3,104,Kamal,Finance,28.0,48000.0,2021-03-12,2.0
4,105,Suresh,Finance,35.0,60000.0,2021-03-12,5.0
5,105,Suresh,Finance,35.0,60000.0,2021-03-12,5.0
6,106,Ravi,HR,29.0,47000.0,2023-02-01,5.0
7,107,Anu,IT,29.0,52000.0,2022-11-25,3.0

In [ ]:
df.fillna(method='bfill')

/tmp/ipython-input-4194935721.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

,Employee_ID,Name,Department,Age,Salary,Joining_Date,Performance_Rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,45000.0,2020-05-20,3.0
2,103,Kamal,IT,28.0,48000.0,2022-07-15,4.0
3,104,Suresh,Finance,28.0,60000.0,2021-03-12,2.0
4,105,Suresh,HR,35.0,60000.0,2023-02-01,5.0
5,105,Suresh,HR,35.0,60000.0,2023-02-01,5.0
6,106,Ravi,HR,29.0,47000.0,2023-02-01,3.0
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

**Filling Missing Values using Interpolation**

In [ ]:
df['Age'].interpolate()

0    25.0
1    30.0
2    29.0
3    28.0
4    35.0
5    35.0
6    29.0
7    29.0
Name: Age, dtype: float64

**Interpolating Multiple Columns**

In [ ]:
df[['Age', 'Salary']].interpolate()

    Age   Salary
0  25.0  50000.0
1  30.0  45000.0
2  29.0  48000.0
3  28.0  54000.0
4  35.0  60000.0
5  35.0  60000.0
6  29.0  47000.0
7  29.0  52000.0

**Interpolation with Method Parameter**

In [ ]:
df['Age'].interpolate(method='linear')

0    25.0
1    30.0
2    29.0
3    28.0
4    35.0
5    35.0
6    29.0
7    29.0
Name: Age, dtype: float64

**Interpolation Direction**

Forward direction

In [ ]:
df['Age'].interpolate(limit_direction='forward')

0    25.0
1    30.0
2    29.0
3    28.0
4    35.0
5    35.0
6    29.0
7    29.0
Name: Age, dtype: float64

Backward direction

In [ ]:
df['Age'].interpolate(limit_direction='backward')

0    25.0
1    30.0
2    29.0
3    28.0
4    35.0
5    35.0
6    29.0
7     NaN
Name: Age, dtype: float64

Limit Interpolation

In [ ]:
df['Age'].interpolate(limit=1)

0    25.0
1    30.0
2    29.0
3    28.0
4    35.0
5    35.0
6    29.0
7    29.0
Name: Age, dtype: float64

**Save Interpolated Data Separately**

In [ ]:
df_interpolated = df.copy()
df_interpolated[['Age', 'Salary']] = df_interpolated[['Age', 'Salary']].interpolate()

# Renaming and Standardizing Column Names <br>
This step is about structure and consistency

View Current Column Names

In [ ]:
df.columns

Index(['Employee_ID', 'Name', 'Department', 'Age', 'Salary', 'Joining_Date',
       'Performance_Rating'],
      dtype='object')

Renaming Specific Columns

In [ ]:
df.rename(columns={
    'Employee_ID': 'employee_id',
    'Joining_Date': 'joining_date'
})

,employee_id,Name,Department,Age,Salary,joining_date,Performance_Rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,45000.0,2020-05-20,3.0
2,103,Kamal,IT,NaN,48000.0,2022-07-15,4.0
3,104,NaN,Finance,28.0,NaN,2021-03-12,2.0
4,105,Suresh,NaN,35.0,60000.0,NaN,5.0
5,105,Suresh,NaN,35.0,60000.0,NaN,5.0
6,106,Ravi,HR,29.0,47000.0,2023-02-01,NaN
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

Permanent rename

df.rename(columns={
    'Employee_ID': 'employee_id',
    'Joining_Date': 'joining_date'
}, inplace=True)

if we give inplace =true it will rename permantly

**Converting All Column Names to Lowercase**

In [ ]:
df.columns = df.columns.str.lower()
df

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,45000.0,2020-05-20,3.0
2,103,Kamal,IT,NaN,48000.0,2022-07-15,4.0
3,104,NaN,Finance,28.0,NaN,2021-03-12,2.0
4,105,Suresh,NaN,35.0,60000.0,NaN,5.0
5,105,Suresh,NaN,35.0,60000.0,NaN,5.0
6,106,Ravi,HR,29.0,47000.0,2023-02-01,NaN
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

**Standardizing Column Names**

In [ ]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
)

df.columns

Index(['employee_id', 'name', 'department', 'age', 'salary', 'joining_date',
       'performance_rating'],
      dtype='object')

# Replacing Values in Pandas

Replace a Single Value

In [ ]:
df['department'].replace('IT', 'ICT')

0        ICT
1         HR
2        ICT
3    Finance
4        NaN
5        NaN
6         HR
7        ICT
Name: department, dtype: object

Replace Multiple Values

In [ ]:
df['department'].replace({
    'Not Assigned': 'Unknown',
    'IT': 'Information Technology'
})

0    Information Technology
1                        HR
2    Information Technology
3                   Finance
4                       NaN
5                       NaN
6                        HR
7    Information Technology
Name: department, dtype: object

Replace Using Lists

In [ ]:
df['performance_rating'].replace([1, 2], 'Low')

0    4.0
1    3.0
2    4.0
3    Low
4    5.0
5    5.0
6    NaN
7    3.0
Name: performance_rating, dtype: object

Replacing Values Using Conditions

In [ ]:
df.loc[df['salary'] < 50000, 'salary'] = 50000
df

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,50000.0,2020-05-20,3.0
2,103,Kamal,IT,NaN,50000.0,2022-07-15,4.0
3,104,NaN,Finance,28.0,NaN,2021-03-12,2.0
4,105,Suresh,NaN,35.0,60000.0,NaN,5.0
5,105,Suresh,NaN,35.0,60000.0,NaN,5.0
6,106,Ravi,HR,29.0,50000.0,2023-02-01,NaN
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

**Handling Duplicate Records**

Identifying Duplicate Rows

In [ ]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

Count Total Duplicates

In [ ]:
df.duplicated().sum()

np.int64(1)

View Only Duplicate Rows

In [ ]:
df[df.duplicated()]

,employee_id,name,department,age,salary,joining_date,performance_rating
5,105,Suresh,NaN,35.0,60000.0,NaN,5.0

Detect Duplicates Based on Specific Columns

In [ ]:
df.duplicated(subset=['employee_id'])

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

View duplicates by column

In [ ]:
df[df.duplicated(subset=['employee_id'], keep=False)]

,employee_id,name,department,age,salary,joining_date,performance_rating
4,105,Suresh,NaN,35.0,60000.0,NaN,5.0
5,105,Suresh,NaN,35.0,60000.0,NaN,5.0

Removing Duplicates <br>


<br>
Remove exact duplicate rows

In [ ]:
df.drop_duplicates()

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,50000.0,2020-05-20,3.0
2,103,Kamal,IT,NaN,50000.0,2022-07-15,4.0
3,104,NaN,Finance,28.0,NaN,2021-03-12,2.0
4,105,Suresh,NaN,35.0,60000.0,NaN,5.0
6,106,Ravi,HR,29.0,50000.0,2023-02-01,NaN
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

Remove duplicates based on a column

In [ ]:
df.drop_duplicates(subset=['employee_id'])

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,50000.0,2020-05-20,3.0
2,103,Kamal,IT,NaN,50000.0,2022-07-15,4.0
3,104,NaN,Finance,28.0,NaN,2021-03-12,2.0
4,105,Suresh,NaN,35.0,60000.0,NaN,5.0
6,106,Ravi,HR,29.0,50000.0,2023-02-01,NaN
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

Keep last occurrence

In [ ]:
df.drop_duplicates(subset=['employee_id'], keep='last')

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25.0,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30.0,50000.0,2020-05-20,3.0
2,103,Kamal,IT,NaN,50000.0,2022-07-15,4.0
3,104,NaN,Finance,28.0,NaN,2021-03-12,2.0
5,105,Suresh,NaN,35.0,60000.0,NaN,5.0
6,106,Ravi,HR,29.0,50000.0,2023-02-01,NaN
7,107,Anu,IT,NaN,52000.0,2022-11-25,3.0

Reset Index After Removing Duplicates

In [ ]:
df.reset_index(drop=True, inplace=True)

# Data Type Conversion

In [ ]:
df.dtypes

employee_id             int64
name                   object
department             object
age                   float64
salary                float64
joining_date           object
performance_rating    float64
dtype: object

Converting Numeric Columns using astype()

In [ ]:
df['age'] = df['age'].astype('Int64')

Handling Conversion Errors

In [ ]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

Converting Date Columns using to_datetime()

In [ ]:
df['joining_date'] = pd.to_datetime(df['joining_date'])

Convert Categorical Columns

# Filtering and Indexing Data <br>
Filtering and indexing allow us to select specific rows and columns
based on conditions, labels, or positions

In [ ]:
df['salary']

0    50000.0
1    50000.0
2    50000.0
3        NaN
4    60000.0
5    60000.0
6    50000.0
7    52000.0
Name: salary, dtype: float64

Select multiple columns

In [ ]:
df[['name', 'department', 'salary']]

     name department   salary
0   Aroos         IT  50000.0
1   Nimal         HR  50000.0
2   Kamal         IT  50000.0
3     NaN    Finance      NaN
4  Suresh        NaN  60000.0
5  Suresh        NaN  60000.0
6    Ravi         HR  50000.0
7     Anu         IT  52000.0

Row Selection Using Conditions

In [ ]:
df[df['salary'] > 50000]

,employee_id,name,department,age,salary,joining_date,performance_rating
4,105,Suresh,NaN,35,60000.0,NaT,5.0
5,105,Suresh,NaN,35,60000.0,NaT,5.0
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0

Multiple conditions

In [ ]:
df[(df['salary'] > 50000) & (df['department'] == 'IT')]

   employee_id name department   age   salary joining_date  performance_rating
7          107  Anu         IT  <NA>  52000.0   2022-11-25                 3.0

Using loc (Label-based)

In [ ]:
df.loc[df['department'] == 'IT', ['name', 'salary']]

    name   salary
0  Aroos  50000.0
2  Kamal  50000.0
7    Anu  52000.0

Update values using loc

In [ ]:
df.loc[df['performance_rating'].isna(), 'performance_rating'] = 3

Using iloc (Position-based)

Select rows by index position

In [ ]:
df.iloc[0:3]

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0

Select specific rows and columns

In [ ]:
df.iloc[0:3, 1:4]

    name department   age
0  Aroos         IT    25
1  Nimal         HR    30
2  Kamal         IT  <NA>

Boolean Indexing with isin()

In [ ]:
df[df['department'].isin(['IT', 'HR'])]

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0

Sorting Filtered Data

In [ ]:
df[df['department'] == 'IT'].sort_values(by='salary', ascending=True)

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0

# Sorting and Ranking Data

Sort by salary (ascending)

In [ ]:
df.sort_values(by='salary')

,employee_id,name,department,age,salary,joining_date,performance_rating
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0
4,105,Suresh,NaN,35,60000.0,NaT,5.0
5,105,Suresh,NaN,35,60000.0,NaT,5.0
3,104,NaN,Finance,28,NaN,2021-03-12,2.0

Sort by multiple columns

In [ ]:
df.sort_values(by=['department', 'salary'], ascending=[True, False])

,employee_id,name,department,age,salary,joining_date,performance_rating
3,104,NaN,Finance,28,NaN,2021-03-12,2.0
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0
4,105,Suresh,NaN,35,60000.0,NaT,5.0
5,105,Suresh,NaN,35,60000.0,NaT,5.0

Sorting by Index

In [ ]:
df.sort_index(ascending =False)

,employee_id,name,department,age,salary,joining_date,performance_rating
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0
5,105,Suresh,NaN,35,60000.0,NaT,5.0
4,105,Suresh,NaN,35,60000.0,NaT,5.0
3,104,NaN,Finance,28,NaN,2021-03-12,2.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0

Rank employees by salary

In [ ]:
df['salary_rank'] = df['salary'].rank()

Rank in descending order (highest salary = rank 1)

In [ ]:
df['salary_rank'] = df['salary'].rank(ascending=False)

Ranking Methods

In [ ]:
df['salary_rank_dense'] = df['salary'].rank(method='dense')

Ranking Within Groups

In [ ]:
df['dept_salary_rank'] = df.groupby('department')['salary'].rank(ascending=False)

/tmp/ipython-input-2231067886.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['dept_salary_rank'] = df.groupby('department')['salary'].rank(ascending=False)

# GroupBy Operations

Average salary by department

In [ ]:
df.groupby('department')['salary'].mean()

/tmp/ipython-input-4091032402.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('department')['salary'].mean()

department
Finance             NaN
HR         50000.000000
IT         50666.666667
Name: salary, dtype: float64

GroupBy with Multiple Aggregations

In [ ]:
df.groupby('department')['salary'].agg(['mean', 'min', 'max'])

/tmp/ipython-input-1983389515.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('department')['salary'].agg(['mean', 'min', 'max'])

                    mean      min      max
department
Finance              NaN      NaN      NaN
HR          50000.000000  50000.0  50000.0
IT          50666.666667  50000.0  52000.0

GroupBy Multiple Columns

In [ ]:
df.groupby(['department', 'performance_rating'])['salary'].mean()

/tmp/ipython-input-1364182449.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['department', 'performance_rating'])['salary'].mean()

department  performance_rating
Finance     2.0                       NaN
            3.0                       NaN
            4.0                       NaN
            5.0                       NaN
HR          2.0                       NaN
            3.0                   50000.0
            4.0                       NaN
            5.0                       NaN
IT          2.0                       NaN
            3.0                   52000.0
            4.0                   50000.0
            5.0                       NaN
Name: salary, dtype: float64

Using agg() with Custom Column Mapping

In [ ]:
df.groupby('department').agg({
    'salary': ['mean', 'sum'],
    'age': 'mean',
    'employee_id': 'count'
})

/tmp/ipython-input-2709349513.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('department').agg({

                  salary             age employee_id
                    mean       sum  mean       count
department
Finance              NaN       0.0  28.0           1
HR          50000.000000  100000.0  29.5           2
IT          50666.666667  152000.0  25.0           3

Renaming Aggregated Columns

In [ ]:
df.groupby('department').agg(
    avg_salary=('salary', 'mean'),
    total_salary=('salary', 'sum'),
    employee_count=('employee_id', 'count')
)

/tmp/ipython-input-678092748.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('department').agg(

              avg_salary  total_salary  employee_count
department
Finance              NaN           0.0               1
HR          50000.000000      100000.0               2
IT          50666.666667      152000.0               3

GroupBy + Filtering (HAVING-like behavior)

In [ ]:
df.groupby('department')['salary'].mean().loc[lambda x: x > 50000]

/tmp/ipython-input-1261700017.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('department')['salary'].mean().loc[lambda x: x > 50000]

department
IT    50666.666667
Name: salary, dtype: float64

# apply() and Lambda Functions

Apply on a Single Column

In [ ]:
df['salary_increased'] = df['salary'].apply(lambda x: x * 1.10)
df

,employee_id,name,department,age,salary,joining_date,performance_rating,salary_rank,salary_rank_dense,dept_salary_rank,dept_avg_salary,salary_increased
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0,5.5,1.0,2.5,50666.666667,55000.0
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0,5.5,1.0,1.5,50000.000000,55000.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0,5.5,1.0,2.5,50666.666667,55000.0
3,104,NaN,Finance,28,NaN,2021-03-12,2.0,NaN,NaN,NaN,NaN,NaN
4,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0
5,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0,5.5,1.0,1.5,50000.000000,55000.0
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0,3.0,2.0,1.0,50666.666667,57200.0

Apply with Conditional Logic

In [ ]:
df['salary_level'] = df['salary'].apply(
    lambda x: 'High' if x >= 60000 else 'Medium' if x >= 50000 else 'Low'
)

Apply on Rows (axis=1)

In [ ]:
df['performance_label'] = df.apply(
    lambda row: 'Excellent' if row['performance_rating'] >= 4 else 'Needs Improvement',
    axis=1
)
df

,employee_id,name,department,age,salary,joining_date,performance_rating,salary_rank,salary_rank_dense,dept_salary_rank,dept_avg_salary,salary_increased,salary_level,performance_label
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent
3,104,NaN,Finance,28,NaN,2021-03-12,2.0,NaN,NaN,NaN,NaN,NaN,Low,Needs Improvement
4,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent
5,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0,3.0,2.0,1.0,50666.666667,57200.0,Medium,Needs Improvement

Apply with Multiple Columns

In [ ]:
df['bonus'] = df.apply(
    lambda row: row['salary'] * 0.10 if row['performance_rating'] >= 4 else row['salary'] * 0.05,
    axis=1
)
df

,employee_id,name,department,age,salary,joining_date,performance_rating,salary_rank,salary_rank_dense,dept_salary_rank,dept_avg_salary,salary_increased,salary_level,performance_label,bonus
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0
3,104,NaN,Finance,28,NaN,2021-03-12,2.0,NaN,NaN,NaN,NaN,NaN,Low,Needs Improvement,NaN
4,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent,6000.0
5,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent,6000.0
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0,3.0,2.0,1.0,50666.666667,57200.0,Medium,Needs Improvement,2600.0

apply() vs Vectorized Operations

In [ ]:
df['salary_increased_fast'] = df['salary'] * 1.10
df

,employee_id,name,department,age,salary,joining_date,performance_rating,salary_rank,salary_rank_dense,dept_salary_rank,dept_avg_salary,salary_increased,salary_level,performance_label,bonus,salary_increased_fast
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0
3,104,NaN,Finance,28,NaN,2021-03-12,2.0,NaN,NaN,NaN,NaN,NaN,Low,Needs Improvement,NaN,NaN
4,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent,6000.0,66000.0
5,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent,6000.0,66000.0
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0,3.0,2.0,1.0,50666.666667,57200.0,Medium,Needs Improvement,2600.0,57200.0

Using Named Functions with apply()

In [ ]:
def salary_category(salary):
    if salary >= 60000:
        return 'High'
    elif salary >= 50000:
        return 'Medium'
    else:
        return 'Low'

df['salary_category'] = df['salary'].apply(salary_category)
df

,employee_id,name,department,age,salary,joining_date,performance_rating,salary_rank,salary_rank_dense,dept_salary_rank,dept_avg_salary,salary_increased,salary_level,performance_label,bonus,salary_increased_fast,salary_category
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0,Medium
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0,Medium
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0,Medium
3,104,NaN,Finance,28,NaN,2021-03-12,2.0,NaN,NaN,NaN,NaN,NaN,Low,Needs Improvement,NaN,NaN,Low
4,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent,6000.0,66000.0,High
5,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent,6000.0,66000.0,High
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0,Medium
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0,3.0,2.0,1.0,50666.666667,57200.0,Medium,Needs Improvement,2600.0,57200.0,Medium

# Joining and Merging Data

We‚Äôll create a new DataFrame to join with employee data

Department details dataset

In [ ]:
department_data = {
    'department': ['IT', 'HR', 'Finance'],
    'manager': ['Ramesh', 'Saman', 'Kavindu'],
    'location': ['Colombo', 'Kandy', 'Galle']
}

df_department = pd.DataFrame(department_data)
df_department

  department  manager location
0         IT   Ramesh  Colombo
1         HR    Saman    Kandy
2    Finance  Kavindu    Galle

merge (INNER JOIN)

In [ ]:
pd.merge(df, df_department, on='department')

,employee_id,name,department,age,salary,joining_date,performance_rating,salary_rank,salary_rank_dense,dept_salary_rank,dept_avg_salary,salary_increased,salary_level,performance_label,bonus,salary_increased_fast,salary_category,manager,location
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0,Medium,Ramesh,Colombo
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0,Medium,Saman,Kandy
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0,Medium,Ramesh,Colombo
3,104,NaN,Finance,28,NaN,2021-03-12,2.0,NaN,NaN,NaN,NaN,NaN,Low,Needs Improvement,NaN,NaN,Low,Kavindu,Galle
4,106,Ravi,HR,29,50000.0,2023-02-01,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0,Medium,Saman,Kandy
5,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0,3.0,2.0,1.0,50666.666667,57200.0,Medium,Needs Improvement,2600.0,57200.0,Medium,Ramesh,Colombo

LEFT JOIN

In [ ]:
pd.merge(df, df_department, on='department', how='left')

,employee_id,name,department,age,salary,joining_date,performance_rating,salary_rank,salary_rank_dense,dept_salary_rank,dept_avg_salary,salary_increased,salary_level,performance_label,bonus,salary_increased_fast,salary_category,manager,location
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0,Medium,Ramesh,Colombo
1,102,Nimal,HR,30,50000.0,2020-05-20,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0,Medium,Saman,Kandy
2,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0,Medium,Ramesh,Colombo
3,104,NaN,Finance,28,NaN,2021-03-12,2.0,NaN,NaN,NaN,NaN,NaN,Low,Needs Improvement,NaN,NaN,Low,Kavindu,Galle
4,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent,6000.0,66000.0,High,NaN,NaN
5,105,Suresh,NaN,35,60000.0,NaT,5.0,1.5,3.0,NaN,NaN,66000.0,High,Excellent,6000.0,66000.0,High,NaN,NaN
6,106,Ravi,HR,29,50000.0,2023-02-01,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0,Medium,Saman,Kandy
7,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0,3.0,2.0,1.0,50666.666667,57200.0,Medium,Needs Improvement,2600.0,57200.0,Medium,Ramesh,Colombo

RIGHT JOIN

In [ ]:
pd.merge(df, df_department, on='department', how='right')

,employee_id,name,department,age,salary,joining_date,performance_rating,salary_rank,salary_rank_dense,dept_salary_rank,dept_avg_salary,salary_increased,salary_level,performance_label,bonus,salary_increased_fast,salary_category,manager,location
0,101,Aroos,IT,25,50000.0,2021-01-10,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0,Medium,Ramesh,Colombo
1,103,Kamal,IT,<NA>,50000.0,2022-07-15,4.0,5.5,1.0,2.5,50666.666667,55000.0,Medium,Excellent,5000.0,55000.0,Medium,Ramesh,Colombo
2,107,Anu,IT,<NA>,52000.0,2022-11-25,3.0,3.0,2.0,1.0,50666.666667,57200.0,Medium,Needs Improvement,2600.0,57200.0,Medium,Ramesh,Colombo
3,102,Nimal,HR,30,50000.0,2020-05-20,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0,Medium,Saman,Kandy
4,106,Ravi,HR,29,50000.0,2023-02-01,3.0,5.5,1.0,1.5,50000.000000,55000.0,Medium,Needs Improvement,2500.0,55000.0,Medium,Saman,Kandy
5,104,NaN,Finance,28,NaN,2021-03-12,2.0,NaN,NaN,NaN,NaN,NaN,Low,Needs Improvement,NaN,NaN,Low,Kavindu,Galle

# String Operations

Convert Text to Lowercase / Uppercase

In [ ]:
df['name_lower'] = df['name'].str.lower()
df['name_lower']

0     aroos
1     nimal
2     kamal
3       NaN
4    suresh
5    suresh
6      ravi
7       anu
Name: name_lower, dtype: object

In [ ]:
df['department_upper'] = df['department'].str.upper()
df['department_upper']

0         IT
1         HR
2         IT
3    FINANCE
4        NaN
5        NaN
6         HR
7         IT
Name: department_upper, dtype: object

Removing Extra Spaces

Leading & trailing spaces

In [ ]:
df['name_clean'] = df['name'].str.strip()
df['name_clean']

0     Aroos
1     Nimal
2     Kamal
3       NaN
4    Suresh
5    Suresh
6      Ravi
7       Anu
Name: name_clean, dtype: object

Replacing Text Patterns

In [ ]:
df['department_clean'] = df['department'].str.replace('Information Technology', 'IT')
df['department_clean']

0         IT
1         HR
2         IT
3    Finance
4        NaN
5        NaN
6         HR
7         IT
Name: department_clean, dtype: object

String Length

In [ ]:
df['name_length'] = df['name'].str.len()